@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-red-hat-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    font-size: 40px;
    font-family: var(--font-chonburi);
    text-align: center;
    line-height: 44px;
  }

  h3 {
    font-size: 24px;
    font-family: var(--font-chonburi);
  }

  p{
    font-size: 16px;
  }
}
